 <View>
  <Image name="image" value="$image"
      zoom="true" zoomControl="true" 
      negativeZoom="true"></Image>
  <RectangleLabels name="label" toName="image">
		<Label value="Text" background="blue"/>
    <Label value="Title" background="green"/>
    <Label value="List" background="orange"/>
    <Label value="Table" background="yellow"/>
    <Label value="Figure" background="red"/>
  </RectangleLabels>
</View>